:local(.container) {
  max-height: 20vmin;

  span {
    display: block;
    padding: 5px;

    &:nth-child(even) {
      background-color: #555555;
    }

    &:nth-child(odd) {
      background-color: #333333;
    }
  }
}