:global(.container) {
  width: 100%;
  white-space: nowrap;

  & > div {
    vertical-align: middle;
  }

  div:global(.button) {
    display: inline-block;
    width: 40px;
    margin: 0 5px 0 0;
    overflow: visible;
  }
}