:local(.container) {
  position: relative;
  background-color: #212121;

  :global(.label) {
    background-color: #99cc66;
    width: 100%;
    padding: 0;

    :global(.close) {
      float: right;
    }
  }

  :global(.body) {
    width: 100%;
    height: calc(100% - 40px);
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}

:global(.y2) {
  grid-row-end: span 2;
}

:global(.y3) {
  grid-row-end: span 3;
}

:global(.y4) {
  grid-row-end: span 4;
}
