:local(.container) {
  display: inline-block;
  color: #ffffff;
  background-color: #4e4e4e;
  transition: 200ms;
  padding: 0 20px;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;

  &:global(.active) {
    background-color:#99cc66;
  }

  &:global(.lg) {
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

  &:global(.md) {
    height: 40px;
    line-height: 40px;
  }

  &:global(.sm) {
    height: 30px;
    line-height: 30px;
    font-size: 0.8em;
  }

  &:global(.fw) {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  &:global(.icn) {
    padding: 0;
    text-align: center;
    
    &:global(.lg) {
      span { width: 50px; } 
    }
    
    &:global(.md) {
      span { width: 40px; } 
    }
    
    &:global(.sm) {
      span { width: 30px; } 
    }
  }

  &:hover {
    color: #4e4e4e;
    background-color: #bbee88;
    width: auto;
  }
}