:local(.container) {
  display: block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #4e4e4e;
  color: #dedede;
  transition: 200ms;
  overflow: hidden;

  &:hover {
    background-color: #99cc66;
  }

  &:active {
    color: #4e4e4e!important;
  }

  :global(.icon) {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    overflow: hidden;
  }

  :global(.label) {
    display: inline-block;
    width: 100%;

    span {
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
