:local(.container) {
  :global(.button) {
    text-align: left;
    background-color: #353535;

    &:global(.active) {
      background-color: #99cc66;
    }
    
    span {
      padding-left: 20px;
    }

    &:hover {
      background-color: #bbee88;
      margin-left: -5px;
      width: 160px;
      text-decoration: none;
    }
  }
}
