:local(.container) {
  position: absolute;
  right: 0;
  left: 0;
  height: 40px;
  background-color: #272727;
  padding: 5px;

  :local(.scroller) {

    &:global( > span) {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 25px;
      padding: 5px;
      background-color: #000000;
      z-index: 1;
      opacity: 0.5;
      transition: 200ms;
      text-align: center;
      line-height: 40px;

      &:global(.right) {
        right: 0;
      }

      &:global(.left) {
        left: 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &:global(.enable) {
      display: inline;
    }
  }
}
