:local(.page) {
  font-family: 'Roboto', sans-serif;
}

:local(.head) {
  height: 100vh;
  background-image: url('https://unsplash.it/3840/2160?image=776');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;

  .text {
    padding-top: 20vh;
    font-weight: 100;
    font-size: 2.5em;
    width: 100%;

    @media (max-width: 500px) {
      font-size: 1.5em;
    }

    .title {
      font-size: 2.25em;
      width: 100%;
    }

    .caption {
      position: relative;
      top: -0.25em;
    }
  }
}

:local(.separator) {
  height: 25vw;
  background-image: url('https://unsplash.it/3840/2160?random');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

:local(.foot) {
  height: 70vh;
  padding-top: 30vh;
  background-image: url('https://unsplash.it/3840/2160?image=567');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

:local(.block) {
  padding: 5em 20vw;
}

:local(.blockBody) {
  font-family: 'Raleway', sans-serif;
}

:local(.subBlock) {
  font-size: 15px!important;
  background-color: #dddddd;
  color: #555555;
  margin: 0 20vw;
  padding: 5vh 10vh;
  font-family: 'Raleway', sans-serif;
}
