:local(.container) {
  background-color: #000000;
}

@media (orientation: landscape) {
  :local(.container) {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100vmin;
    z-index:10;
  }
}

@media (orientation: portrait) {
  :local(.container) {
    height:100vmin;
  }
}
