:local(.container) {
  :global(.ratio) {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0; right: 0;
      bottom: 0; left: 0;
    }
  }
}