:local(.container) {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #323232;
  z-index: 2;
  padding: 5px;

  .sceneMenu {
    width: 40px;
  }

  .accountMenu {
    position: absolute;
    bottom: 0;
    width: 40px;
  }
}
