@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i|Roboto:100,300,400,700');

$red:     #cc6666;
$orange:  #cc9966;
$yellow:  #cccc99;
$green:   #99cc66;
$blue:    #6699cc;
$indigo:  #6666cc;
$violet:  #9966cc;
$pink:    #cc66cc;

:global(body) {
  font-family: 'Roboto', sans-serif;
}

:global(a) {
  color: $blue;
  text-decoration: none;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?1r5ts');
  src:  url('assets/fonts/icomoon.eot?1r5ts#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?1r5ts') format('truetype'),
    url('assets/fonts/icomoon.woff?1r5ts') format('woff'),
    url('assets/fonts/icomoon.svg?1r5ts#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global(.fa-dewbutler) {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: "\e900";
    position: relative;
    top: 0.075em;
  }

  &:global(.logo) {
    line-height: 40px;
  }
}
