:local(.content) {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-auto-rows: min-content;
  grid-auto-flow: row dense;
}