@media (orientation: landscape) {
  :local(.container) {

    :local(.text) {
      position: absolute;
      left: 100vmin;
      right: 0;
      height: 100%;
      transform: translateX(100%);
      animation: marqueeContainer 21s linear infinite;

      :local(.marquee) {
        display: inline-block;
        height: 100%;
        min-width: 100%;
        transform: translateX(0%);
        animation: marqueeContent 21s linear infinite;

        :local(.content) {
          display: inline-block;

          span {
            display: block;
            white-space: nowrap;

            &:local(.title) {
              // top:0;
              // bottom:30vmin;
              line-height: 85vmin;
              font-size: 30vmin;
            }

            &:local(.artist) {
              position: relative;
              top: -25vmin;
              font-size: 15vmin;
            }
          }
        }
      }
    }

    :local(.one) {
      animation-delay: 7s;

      :local(.marquee) {
        animation-delay: 7s;
      }
    }

    :local(.two) {
      animation-delay: 14s;

      :local(.marquee) {
        animation-delay: 14s;
      }
    }
  }
}

@media (orientation: portrait) {
  :local(.visual) {
      background-color:#000000;
      height:100vmin;
  }
  :local(.title) {
      position:absolute;
      top:100vmin;
      right:0;
      bottom:0;
      left:0;
      font-size:20vmax;
      white-space: nowrap;
  }
  :local(.artist) {
      position:absolute;
      top: 130vmin;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 12vmin;
      white-space: nowrap;
  }
  :local(.title span),
  :local(.artist span) {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 20s linear infinite;
  }
}


@keyframes marqueeContainer {
  0%   { transform: translateX(100%); }
  40% { transform: translateX(0%); }
  100% { transform: translateX(0%); }
}

@keyframes marqueeContent {
  0%   { transform: translateX(0%); }
  40% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}
