:local(.container) {
  position: absolute;
  left: 100vmin;
  right: 0;
  height: 100%;

  :global(.text) {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    animation: marqueeContainer 21s linear infinite;

    :global(.marquee) {
      display: inline-block;
      height: 100%;
      min-width: 100%;
      transform: translateX(0%);
      animation: marqueeContent 21s linear infinite;

      :global(.content) {
        display: inline-block;

        span {
          display: block;
          white-space: nowrap;

          &:global(.title) {
            line-height: 85vmin;
            font-size: 30vmin;
          }

          &:global(.artist) {
            position: relative;
            top: -25vmin;
            font-size: 15vmin;
          }
        }
      }
    }
  }

  :global(.n1) {
    animation-delay: 7s;

    :global(.marquee) {
      animation-delay: 7s;
    }
  }

  :global(.n2) {
    animation-delay: 14s;

    :global(.marquee) {
      animation-delay: 14s;
    }
  }
}

@keyframes marqueeContainer {
  0%   { transform: translateX(100%); }
  40% { transform: translateX(0%); }
  100% { transform: translateX(0%); }
}

@keyframes marqueeContent {
  0%   { transform: translateX(0%); }
  40% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}
