:local(.container) {
  display: inline-block;
  position: relative;

  &:hover {
    span:global(.tooltip) {
      opacity: 1;
      visibility: visible;
    }
  }

  span:global(.tooltip) {
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    transition: 300ms;

    &:global(.top) { bottom: 100%; text-align: center; }
    &:global(.right) { left: 100%; }
    &:global(.bottom) { top: 100%; text-align: center; }
    &:global(.left) { right: 100%; text-align: right; }
  }
}
