:local(.container) {
  :global(.button) {
    span > div {
      vertical-align: middle;
    }

    :global(.label) {
      width: calc(100% - 45px);
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      width: 200px;
    }
  }
}
